[project]
[access]
	inheritFrom = All-Projects
[receive]
	requireChangeId = false
[submit]
	mergeContent = false
	action = rebase if necessary
[access "refs/heads/*"]
	create = group samsung_hlte
	push = group samsung_hlte
	label-Code-Review = -2..+2 group samsung_hlte
	label-Verified = -1..+1 group samsung_hlte
	submit = group samsung_hlte
	rebase = group samsung_hlte
